/* body */
body {
    background: #fafafa;
}

/**
# mixin-attr-icon
- @include mixin-attr-icon(1);
- @include mixin-attr-icon(2);
- @include mixin-attr-icon(3);

```
<p class="attr-icon1">アイコン</p>
<p class="attr-icon2">アイコン</p>
<p class="attr-icon3">アイコン</p>			
```
@include mixin-attr-icon(1);
@include mixin-attr-icon(2);
@include mixin-attr-icon(3);
*/
@mixin mixin-attr-icon($attr) {
	.attr-icon#{$attr} {
		position: absolute;
		top: 0;
		left: 0;
	}
}

/* test */

/**
# mixin-next-down

```
<ul>
	<li>Step1 text</li>
	<li class="next-down">▼</li>
	<li>Step2 text</li>
	<li class="next-down">▼</li>
	<li>Step3 text</li>
	<li class="next-down">▼</li>
	<li>Step4 text</li>
</ul>
<p class="next-down">▼</p>
```
@include mixin-next-down();
*/
@mixin mixin-next-down {
	.next-down {
		margin: 0;
		padding: 0;
	}
}